.message {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.message h1 {
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}

.message h2 {
  font-weight: 600;
  color: #fff;
}